<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>員工資料 - listOneEmp.html</title>

    <!--    <head th:insert="~{/included-fragment}"></head>-->

</head>
<body>

<!--<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">-->
<!--    <div align="center"> <h2>員工個人資料 - listOneEmp.html</h2>-->
<!--        <h3><a class="navbar-brand" th:href="@{emp/select_page}"><img th:src="@{/images/back1.gif}">回查詢頁<label th:text="${success}"></label></a></h3></div>-->
<!--</nav>-->

<div th:fragment="listOneEmp-div"> <!-- 此div被select_page.html第158行insert用 -->
    123
<!--    <h3><span>查詢結果 :</span></h3>-->
<!--    <span>員工編號:</span><span th:text="${emp.empId}">[EmpId]</span><br/>-->
<!--    <span>員工姓名:</span><span th:text="${emp.empName}">[EmpName]</span><br/>-->
<!--    <span>職位:</span><span th:text="${empVO.job}"></span><br/>-->
<!--    <span>雇用日期:</span><span th:text="${emp.hireDate}"></span><br/>-->
<!--    <span>密碼:</span><span th:text="${emp.empPassword}"></span><br/>-->
<!--    <span>電子信箱:</span><span th:text="${emp.empEmail}"></span><br/>-->
<!--    <span>狀態:</span><span th:text="${emp.empStatus}"></span><br/>-->
<!--    <span>職稱:</span><span th:text="${emp.job.jobId} + '-[' + ${emp.job.title} + ']'"></span><br/>-->
<!--    <span>照片:</span><span><img th:src="@{/emp/DBGifReader} + '?empno=' + ${empVO.empno}" width="100px"></span><br/>-->
</div>


</body>
</html>