<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">123456</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/cinema?serverTimezone=Asia/Taipei</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        

        
        
        
        <property name="hibernate.show_sql">true</property>
    
    	<property name="hibernate.hbm2ddl.auto">validate</property>
    	
    	<property name="hibernate.current_session_context_class">thread</property>
    	
    	<property name="hibernate.format_sql">true</property>
        
        <mapping class="com.entity.Emp"/>
        <mapping class="com.entity.Job"/>
        <mapping class="com.entity.Permission"/>
        <mapping class="com.entity.Func"/>
        <mapping class="com.entity.Mem"/>
        <mapping class="com.entity.Message"/>
        <mapping class="com.entity.HomeAnn"/>
        <mapping class="com.entity.Movie"/>
        <mapping class="com.entity.Screen"/>
        <mapping class="com.entity.ShowtimeInfo"/>
        <mapping class="com.entity.Ticket"/>
        <mapping class="com.entity.Booking"/>
        <mapping class="com.entity.OrderItem"/>
        <mapping class="com.entity.Food"/>
        <mapping class="com.entity.FoodItem"/>
        <mapping class="com.entity.Merch"/>
        <mapping class="com.entity.MerchOrder"/>
        <mapping class="com.entity.MerchItem"/>
        <mapping class="com.entity.RentalOrder"/>
        <mapping class="com.entity.Review"/>
        <mapping class="com.entity.Report"/>
        <mapping class="com.entity.MovieFav"/>
        <mapping class="com.entity.Cart"/>

    </session-factory>
</hibernate-configuration>
