<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>

	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>場地租借</title>
    
        <link th:href="@{https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css}" rel='stylesheet'>
        <link rel="stylesheet" type="text/css"  th:href="@{/back_end/management.css}" href="../../../static/back_end/management.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" type="text/css" th:href="@{/back_end/rental/listAllRental.css}" href="../../../static/back_end/rental/listAllRental.css">


    </head>



	<body>

        <aside th:replace="~{/back_end/mem/management :: content}"></aside>

		<main>

			<div class="container">
				
                <div class="errorMsgs" th:if="${errorMsgs}">
                    <ul>
                        <li th:each="errors : ${errorMsgs}" th:text="${errors.defaultMessage}"></li>
                    </ul>
                </div>
                
                <div th:if="${AllRentalOrderListData}">
                    <table id="table-1" border="1">
                        <h1>租借訂單資料</h1>
                        <a th:href="@{/rental/select}">回首頁</a>
                        <!-- <h4><label th:text="${success}"></label></h4> -->
                        <tr>
                            <th>表單編號</th>
                            <th>會員編號</th>
                            <th>影廳編號</th>
                            <th>租借日期</th>
                            <th>預計開始時間</th>
                            <th>預計結束時間</th>
                            <th>申請理由</th>
                            <th>付款方式</th>
                            <th>付款狀態</th>
                            <th>押金歸還</th>
                            <th>影廳價格</th>
                            <th>押金</th>
                            <th>合計</th>
                            <th>申請日期</th>
                            <th>審核狀態</th>
                            <th>員工編號</th>
                            <th>修改</th>
                        </tr>
                        <tr th:each="rentalOrder : ${AllRentalOrderListData}">
                            <td th:text="${rentalOrder.rentalId}"></td>
                            <td th:text="${rentalOrder.mem.memId}"></td>
                            <td th:text="${rentalOrder.screen.screenId}"></td>
                            <td th:text="${#dates.format(rentalOrder.rentalDate, 'yyyy-MM-dd')}"></td>
                            <td th:text="${#dates.format(rentalOrder.startTime, 'HH:mm:ss')}"></td>
                            <td th:text="${#dates.format(rentalOrder.endTime, 'HH:mm:ss')}"></td>
                            <td th:text="${rentalOrder.reason}"></td>
                            <td th:text="${rentalOrder.paymentType}"></td>
                            <td th:text="${rentalOrder.paymentStatus}"></td>
                            <td th:text="${rentalOrder.depositRefund}"></td>
                            <td th:text="${rentalOrder.price}"></td>
                            <td th:text="${rentalOrder.deposit}"></td>
                            <td th:text="${rentalOrder.total}"></td>
                            <td th:text="${#dates.format(rentalOrder.applyDate, 'yyyy-MM-dd')}"></td>
                            <td th:text="${rentalOrder.result}"></td>
                            <td th:text="${rentalOrder.emp != null ? rentalOrder.emp.empId : ''}"></td>
                            <td>
                                <form method="post" th:action="@{/rental/getOne_For_Update}" th:object="${rentalOrder}">
                                    <button type="submit" value="修改">修改</button>
                                    <input type="hidden" name="rentalId" th:value="${rentalOrder.rentalId}">
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
                

			</div>
		</main>

				<script th:src="@{/back_end/js/management.js}"></script>




	</body>
</html>
