main {
  padding: 50px; 
  margin-top: 20px; 
  color: #fff; 
  /* transition: left 0.5s ease;  */
  box-sizing: content-box;
  position: relative; 
  left: 200px; 
  width: calc(60% + 120px);
  height: calc(100% - 20px);
  border-radius: 6px;
  background-color: rgba(47, 34, 70, 0.8);
}

aside:has(.sidebar.active)~main{
  left: 320px;
  width: 60%;
}


a {
    color: blue; 
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
}



div.container {
  max-width: 100%;
  margin: 20px ;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* overflow: scroll; */
}



th,td{
  padding:5px;
  word-break: break-word;
}
input:disabled{
  cursor: not-allowed;
}

h1 {
  text-align: center;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  color: #333;
}

td { 
  text-align: left;
  border-bottom: 1px solid #ddd;
}
td:first-child, td:last-child{
  text-align: center;
}
th {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f9f9f9;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

div.successMsgs li{
  color: red;
  margin: 0 40px;
  list-style: none;
}