*, *:before, *:after {
    box-sizing: border-box;
  }
  ::selection {
    background-color: #eee;
  }
  ::-moz-selection {
    background-color: #eee;
  }
  body {
    font-size: 16px;
    background-color: #0d1f38;
  }

  /* 白底寬度 */
  .theatre {
    margin: 20px auto;
    margin-left: 500px;
    width: 100%;
    max-width: 450px;
    border-radius: 5px;
    background-color: #fffdfd;
    padding: 20px 15px;
    box-shadow: 0px 0px 17px -4px #000;
  }
  .screen-side {
    text-align: center;
  }
  .screen-side .screen {
    height: 25px;
    margin: 0 20px;
    border-radius: 50%;
    box-shadow: 0px -3px 0px 1px #ccc;
    color: #b48f8f;
  }
  .screen-side .select-text {
    color: #969696;
  }
  .exit {
    position: relative;
    height: 50px;
  }
  .exit:before, .exit:after {
    content: "EXIT";
    font-size: 14px;
    line-height: 18px;
    padding: 0px 5px;
    font-family: "Arial Narrow", Arial, sans-serif;
    display: block;
    position: absolute;
    background: #81c784;
    color: white;
    top: 50%;
    transform: translate(0, -50%);
  }
  .exit:before {
    left: 0;
  }
  .exit:after {
    right: 0;
  }
  ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .seats {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }


  /* 紫色椅子寬度 */
  .seat {
    display: flex;
    flex: 0 0 15.68571%;
    padding: 5px;
    position: relative;
  }
  /* 整排座位往左右的間距 */

  .seat:nth-child(1) {
    margin-left: 11.28571%;
  }
  .seat input[type="checkbox"] {
    position: absolute;
    opacity: 0;
  }
  .seat input[type="checkbox"]:checked + label {
    background: #f162ce;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
  }
  .seat input[type="checkbox"]:disabled + label {
    background: #ddd;
    text-indent: -9999px;
    overflow: hidden;
  }
  .seat input[type="checkbox"]:disabled + label:after {
    content: "X";
    text-indent: 0;
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  .seat input[type="checkbox"]:disabled + label:hover {
    box-shadow: none;
    cursor: not-allowed;
  }
  .seat label {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5rem;
    padding: 2px 0;
    color: #fff;
    background: #762bdf;
    border-radius: 4px;
    animation-duration: 300ms;
    animation-fill-mode: both;
    transition-duration: 300ms;
  }
  .seat label:hover {
    cursor: pointer;
    box-shadow: 0px 0 7px 3px #ccc;
  }
  @-webkit-keyframes rubberBand {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  @keyframes rubberBand {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  .rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
  }
  
  
  .sub{
    /* border: 1px solid black; */
    height: auto;
  
  
  }
  
  ul.pay{
    list-style: none;
    padding-left: 45%;
    margin-bottom: 20px;
  
  }
  
  
  
  
  div.arrow1{
    display: inline-block;
    /* vertical-align: middle; */
    /* margin-left: 100px; */
    margin-left: 0px;
    margin-right: 80px;    
    /* 兩邊箭頭比次間距 */
    
  }
  
  div.arrow2{
    display: inline-block;
    /* vertical-align: middle; */
    margin-left: 10px;
   
    margin-right: 0px;
  }
  
  a {
    display: inline-block;
    border-radius: 50%;
  }
  
  a:hover .left,   a:hover .right{
    border: 5px solid #f162ce;
  }
  
  a:hover .left:after, a:hover .top:after, a:hover .right:after {
    border-top: 5px solid #f162ce;
    border-right: 5px solid #f162ce;
  }
  
  .left {
    display: inline-block;
    width: 4em;
    height: 4em;
    border: 5px solid #333;
    border-radius: 50%;
    margin-right: 7em;
  }
  
  .left:after {
    content: '';
      display: inline-block;
    margin-top: 1.05em;
    margin-left: 0.6em;
    width: 1.4em;
    height: 1.4em;
    border-top: 5px solid #333;
    border-right: 5px solid #333;
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  
  
  .right {
    display: inline-block;
    width: 4em;
    height: 4em;
    border: 5px solid #333;
    border-radius: 50%;
    margin-left: 3.5em;
  }
  
  .right:after {
    content: '';
      display: inline-block;
    margin-top: 1.05em;
    /* 右邊箭頭離圓圈間距 */
    margin-left: 1.4em;
    width: 1.4em;
    height: 1.4em;
    border-top: 5px solid #333;
    border-right: 5px solid #333;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }


  .pay .total {
    display: flex; /* Set display to flex */
    align-items: center; /* Align items vertically */
  }
  
  .pay .price{
    display: flex;
    align-items: center;
  
  }
  
  .pay .total p {
    margin-top: 10px;
    margin-left: 5px; /* Adjust the margin between li and p */
    margin-bottom: 7px;
  }



/* 改遞增遞減 */

:root {
  --width-container: 540px;
}
.container {
  width: var(--width-container);
  max-width: 100%;
  margin: 0 auto;
  margin-left: 20px;
  padding: 0 var(--space-8);
  border: var(--border);
  background-color: var(--color-white);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}
.input-row {
  display:inline-flex;
  padding-left: 35px;
  padding-right:60px;
  margin-bottom: 10px;
  border-bottom: var(--border);
}
.input-row:last-child {
  border-bottom: 0;
}
.title {
  margin-right: var(--space-8);
}
.label {
  margin-bottom: var(--space-1);
  font-weight: bold;
}
.description {
  color: var(--color-gray-600);
}
.input {
  display: flex;
  align-items: center;
  margin-left: auto;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--space-12);
  height: var(--space-12);
  border: 1px solid var(--color-blue-500);
  border-radius: var(--round);
  background-color: var(--color-white);
  padding-left: 3px;
}
button:hover {
  background-color: var(--color-blue-200);
  cursor: pointer;
}
button:focus {
  outline: none;
  box-shadow: var(--shadow-focus);
}
button[disabled] {
  opacity: var(--opacity-50);
  pointer-events: none;
}
button:active {
  background-color: var(--color-blue-300);
}

.number {
  font-size: var(--text-lg);
  min-width: var(--space-12);
  text-align: center;
  margin-left: 3px;
}
.icon {
  user-select: none;
}
.dim {
  color: var(--color-gray-400);
}


h3{
  margin: 0px;
}

p[name="priceb"] {
  display: none;
}

p[name="pricea"] {
  display: none;
}

p[name="pricec"] {
  display: none;
}

p[name="priced"] {
  display: none;
}




/*下一頁按鍵*/


.continue {
  display: flex; /* Use flexbox */
  align-items: center; /* Align items vertically in the center */
  justify-content: center; /* Align items horizontally in the center */
  gap: 8px; /* Spacing between icon and text */
  height: 50px; /* Adjust height as needed */
 
  text-align: center;
  cursor: pointer;
  background: rgb(192, 175, 229);
  border-radius: 5px;
  border: none;
  font-size: 20px;
  transition: transform 500ms ease;
  width: 160px;
  margin-left: 250px;

  margin-top: 20px;
}

.continue:hover {
  transform: scale(1.1);
}