.accordion-item {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.accordion-header {
  background-color: #7762FF;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordion-content {
  padding: 10px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

.accordion-content.show {
  max-height: 1000px; /* 根據需要調整最大高度 */
  transition: max-height 0.3s ease-in;
  
}

.quantity-input {
  margin-bottom: 10px;
}

div.accordion-item{
  border: 2px solid #ccc; /* 設置邊框寬度和顏色 */
  border-radius: 10px; /* 設置圓角半徑 */
  padding: 0; /* 可選，設置內邊距 */
  width: 500px;
 
}

div.accordion-header{
  border-top-left-radius: 7.5px;
  border-top-right-radius: 7.5px;
}

div.accordion-content.show{
	background: radial-gradient(circle at 0% 0.5%, rgb(241, 241, 242) 0.1%, rgb(224, 226, 228) 100.2%);
  border-bottom-right-radius: 7.5px;
  border-bottom-left-radius: 7.5px;
	margin: 0px auto;
}

td {
  display: table-cell;
  vertical-align: inherit;
  unicode-bidi: isolate;
  
}

table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
}

div.grid-space-0{
	display: flex;
	flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  
  height: 350px;

  background-size: cover;
  background-position: top center;
}

/* 基本表格樣式 */
.table {
  width: 100%;
 
}

.table th, .table td {
  padding: 8px;
  
  text-align: center;
}

/* 下拉式選單樣式 */
.form-control {
  width: 100%;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* 選項文字顏色 */
.option {
  color: #333;
}
