@import url('https://fonts.googleapis.com/css?family=Montserrat');
h1 {
	font-weight: bolder;
	text-align: center;
	color: white;
	font-size: 3em;
}
h2 {
	font-weight: bolder;
	text-align: center;
	color: white;
}
h3 {
    font-weight: bolder;
    text-align: center;
    color: white;
}

.cart-button-style {
	border-style: none;
	position: fixed;
	top: 100px;
	right: 0;
	width: 10em;
	padding: 1em 1em;
	margin: 0.5em;
	background: #7762ff;
	color: white;
	transition: background .5s;
	border-radius: 4px;
}

.cart-button-style-two {
	border-style: none;
	position: fixed;
	top: 90px;
	right: 0;
	width: 10em;
	padding: 1em 1em;
	margin: 0.5em;
	background: white;
	color: #7762ff;
	transition: background .5s;
	border-radius: 4px;
}

.cart-button-style:hover, #checkout:hover, #apply-promo:hover,
	.keep-shopping:hover {
	background: #62ff8e;
	color: white;
}

.cart-button-style:active, #checkout:active, #apply-promo:active,
	.keep-shopping:active {
	background: #ff6884;
	color: white;
}

.products {
	float: left;
	width: 15%;
	margin: 5% 3% 0% 3%;
	text-align: center;
	padding: 0 0 1% 0;
}

.products img {
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

@media screen and (max-width: 980px) {
	.products {
		width: 30%;
		text-align: center;
		margin: 1.66%;
	}
}

@media screen and (max-width: 790px) {
	.products {
		width: 47%;
		margin: 1% 1%;
	}
	#shop {
		margin: 5% 1%;
	}
}

@media screen and (max-width: 600px) {
	.products {
		width: 100%;
	}
	#shop {
		margin: 2% 0;
	}
}

#shop::after {
	content: '';
	display: block;
	clear: both;
}

.add-to-cart {
	display: block;
	margin: 1% auto;
	border-style: none;
	width: 10em;
	height: 3em;
	background: #62ff8e;
	color: white;
	font-weight: bold;
	border-radius: 20px;
}

.add-to-cart:hover {
	background: #7762ff;
}

.add-to-cart:active {
	background: #62ff8e;
}

.slider {
    position: fixed;
    width: 49vw;
    height: 80vh;
    bottom: 0;
    right: 0vh;
    overflow: hidden;
    background: white;
    transition: all 1s;
    z-index: 10;
}

.slider.close {
	top: 100vh;
	height: 0;
}

#amount-controls {
	background: white;
	top: 90;
	right: 0;
}

#cart-amount-wrapper {
	background: white;
	padding: 1.5% 0 .5% 35%;
	border-radius: 10px;
}

#cart {
	text-align: left;
	margin: 3.5em 0.5em;
	padding: 0.5% 1.5%;
}

#total::before, .product-price::before, .cart-product-price::before,
	.cart-updated-product-price::before, #discountAmt::before {
	content: '';
}

#cart #quantity-value {
	width: 50%;
}

.name-col {
	width: 40%;
}

.quantity-col {
	width: 5%;
}

.price-col {
	width: 15%;
}

.updated-price-col {
	width: 25%;
}

.update-col {
	width: 10%
}

.remove-col {
	width: 5%;
}

#update {
	border-style: none;
	text-transform: uppercase;
	padding: 2% 12px;
	width: 100%;
	height: 30px;
	background: #56ff6a;
	color: white;
	border-radius: 10px;
}

#update:hover {
	background: #f0ffe6;
	color: #56ff6a;
}

#update:active {
	background: #56f46a;
	color: white;
}

.remove {
	border-style: none;
	font-weight: bolder;
	padding: 2% 2.5%;
	width: 100%;
	height: 30px;
	background: #ff7b67;
	color: #fff1e7;
	border-radius: 10px;
}

.remove:hover {
	background: #fff1e7;
	color: #ff7b67;
}

.remove:active {
	background: #ff7b67;
	color: #f5f1e7;
}

#cart-products-wrapper {
	overflow-y: auto;
}

#cart-amount-wrapper {
	overflow-x: auto;
}

#promo {
	width: 10em;
	padding: 1em 1em;
	transition: background .5s;
	border-radius: 4px;
}

#apply-promo, #checkout, .keep-shopping {
	border-style: none;
	width: 10em;
	padding: 1em 1em;
	background: #7762ff;
	color: white;
	transition: background .5s;
	border-radius: 4px;
}

p {
	color: white;
}

.products {
	background-color: #0d1f38;
	min-height: 0px;
}

.product-image {
	height: 300px;
}

.product-name {
	height: 60px;
	padding-top: 30px;;
}

.product-price {
	height: 30px;
	padding-bottom: 40px;;
}

img.small-image {
	width: 100%;
	height: 100px; /* 讓高度自動調整以保持比例 */
}

#shop {
	margin-left: 10px;
	width: 900px;
	background-color: #000700;
}

/* ========================order======================== */

.accordion-item {
	border: 1px solid #ccc;
	margin-bottom: 10px;
}

.accordion-header {
	background-color: #7762FF;
	color: white;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.accordion-content {
	padding: 10px;
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.3s ease-out;
}

.accordion-content.show {
	max-height: 1000px; /* 根據需要調整最大高度 */
	transition: max-height 0.3s ease-in;
}

.quantity-input {
	margin-bottom: 10px;
}

div.accordion-item {
	border: 2px solid #ccc; /* 設置邊框寬度和顏色 */
	border-radius: 10px; /* 設置圓角半徑 */
	padding: 0; /* 可選，設置內邊距 */
	width: 500px;
}

div.accordion-header {
	border-top-left-radius: 7.5px;
	border-top-right-radius: 7.5px;
}

div.accordion-content.show {
	background: radial-gradient(circle at 0% 0.5%, rgb(241, 241, 242) 0.1%,
		rgb(224, 226, 228) 100.2%);
	border-bottom-right-radius: 7.5px;
	border-bottom-left-radius: 7.5px;
	margin: 0px auto;
}

td {
	display: table-cell;
	vertical-align: inherit;
	unicode-bidi: isolate;
}

table {
	border-collapse: separate;
	text-indent: initial;
	border-spacing: 2px;
}

div.grid-space-0 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 350px;
	background-size: cover;
	background-position: top center;
}

/* 基本表格樣式 */
.table {
	width: 100%;
}

.table th, .table td {
	padding: 8px;
	text-align: center;
}

/* 下拉式選單樣式 */
.form-control {
	width: 100%;
	padding: 6px;
	border-radius: 4px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

/* 選項文字顏色 */
.option {
	color: #333;
}

/* 電影圖片大小與位置 */
img.moviepic {
	position:absolute;
	width: 150px;
	higth: 100px;
}