@import url('https://fonts.googleapis.com/css?family=Montserrat');


h2 {
    font-weight: bolder;
    text-align: center;

    color: #c1a57b;
}

.cart-button-style {
    border-style: none;
    position: fixed;
    top: 100px;
    right: 0;
    width: 10em;
    padding: 1em 1em;
    margin: 0.5em;
    background: #2e78a0;
    color: white;
    transition: background .5s;
    border-radius: 4px; 
}

.cart-button-style-two {
    border-style: none;
    position: fixed;
    top: 90px;
    right: 0;
    width: 10em;
    padding: 1em 1em;
    margin: 0.5em;
    background: white;
    color: #2e78a0;
    transition: background .5s;
    border-radius: 4px; 
}

.cart-button-style:hover, #checkout:hover, #apply-promo:hover, .keep-shopping:hover {
    background: #ffcd62;
    color: white;
}

.cart-button-style:active, #checkout:active, #apply-promo:active, .keep-shopping:active {
    background: #ff6884;
    color: white;
}

.products {
    float: left;
    width: 18%;
    margin: 3% 1%;
    text-align: center;
    padding: 0 0 1% 0;
}

.products img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media screen and (max-width: 980px) {
    .products {
        width: 30%;
        text-align: center;
        margin: 1.66%;
    }
}

@media screen and (max-width: 790px) {
    .products {
        width: 47%;
        margin: 1% 1%;
    }
    
    #shop {
        margin: 5% 1%;
    }
}

@media screen and (max-width: 600px) {
    .products {
        width: 100%;
    }
    
    #shop {
        margin: 2% 0;
    }
}

#shop::after {
    content: '';
    display: block;
    clear: both;
}




/* 查看購物車 */
.slider {
    position: fixed;
    width: 450px; /* 侧边栏的宽度 */
    height: 100vh;
	left: 0; /* 打开时从左侧显示 */
    top: 0;
    background: white;
    transition: left 0.3s ease; /* 添加过渡效果 */
    z-index: 10;
}
.slider.close {
	 left: -450px; /* 初始状态左侧隐藏 */
	 overflow-y: hidden; /* 隱藏內容 */
}

#amount-controls {
    background: white;
    top: 90;
    right: 0;
}

#cart-amount-wrapper {
    background: white;
    padding: 1.5% 0 .5% 35%;
    border-radius: 10px;
}

#cart {
    text-align: left;
    margin: 3.5em 0.5em;
    padding: 0.5% 1.5%;
    overflow-y: scroll;
}

#total::before, #subtotal::before, .product-price::before, .cart-product-price::before, .cart-updated-product-price::before, #discountAmt::before {
    content: '$';
}

#cart #quantity-value {
    width: 75%;
}

.name-col {
  width: 40%;
}
.quantity-col {
  width: 5%;
}
.price-col {
  width: 15%;
}

.updated-price-col {
    width: 25%;
}

.update-col {
    width: 10%
}

.remove-col {
  width: 5%;
}

#update {
    border-style: none;
    text-transform: uppercase;
    padding: 2% 12px;
    width: 100%;
    height: 30px;
    background: #62ff8e;
    color: white;
    border-radius: 10px;
}

#update:hover {
    background: #f0ffe6;
    color: #62ff8e;
}

#update:active {
    background: #ffcd62;
    color: white;
}

.remove {
    border-style: none;
    font-weight: bolder;
    padding: 2% 2.5%;
    width: 100%;
    height: 30px;
    background: #ff7b67;
    color: #fff1e7;
    border-radius: 10px;
}

.remove:hover {
    background: #fff1e7;
    color: #ff7b67;
}

.remove:active {
    background: #ff7b67;
    color: #f5f1e7;
}

#cart-products-wrapper {
    overflow-y: auto;
}

#cart-amount-wrapper {
    overflow-x: auto;
}

#promo {
    width: 10em;
    padding: 1em 1em;
    transition: background .5s;
    border-radius: 4px;
}

#apply-promo, #checkout, .keep-shopping {
    border-style: none;
    width: 10em;
    padding: 1em 1em;
    background: #2e78a0;
    color: white;
    transition: background .5s;
    border-radius: 4px;
}



p{
    color: white;
}

.products{
    background-color: #0d1f38;
    min-height: 500px;
}

.product-image{
    height: 300px;
    
}

.product-name{
	width: 250px;
    height: 90px;
    padding-top: 30px;;
}

.product-price{
    height: 30px;
    padding-bottom: 40px;;
}



i.bx-cart{
	font-size: 3rem;
	color:white;
	z-index:1;
	position: fixed;
	top: 100px;
	left: 95%;
}

.shopping span{
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 9px 15px;
    position: fixed;
    right: 0;
}