body{
	
	display:block !important;
}
  .container-main {
    max-width: 1300px;
    min-width:1050px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left:310px;
    margin-top:30px;
    
  }
  
  th.moredetails{
  
  min-width:140px;
  }
  
    th.startdate{
  
  min-width:140px;
  }
  
  th.esdate{
  min-width:120px;
  
  }
  
  h1.booking {
    text-align: center;
    color:black;
    
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #f9f9f9;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  
 td.norecord {
    text-align: center !important;
}
  
  
  
 /*================換頁按鍵*/
 
 
.button-container {
  display: flex;
  justify-content:flex-start;
  margin-left: 312px; /*調整頁面頁數寬度距離*/
 
 
}

 .button-container:first-child{margin-right:260px;}

.custom-btn {
  width:50px;
  height: 40px;
  color:black;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
              7px 7px 20px 0px rgba(0,0,0,.1),
              4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  margin-bottom:20px;
   margin-right:3px;
}


.btn-16 {
 background: whitesmoke;
  line-height: 42px;
  padding: 0;
  border: none;
  font-weight:bold;

}

.btn-16:before,
.btn-16:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 1px;
 box-shadow:
   -1px -1px 20px 0px rgba(255,255,255,1),
   -4px -4px 5px 0px rgba(255,255,255,1),
   7px 7px 20px 0px rgba(0,0,0,.4),
   4px 4px 5px 0px rgba(0,0,0,.3);
}
.btn-16:before {
  right: 0;
  top: 0;
  transition: all 500ms ease;
}

.btn-16:hover:before {
  transition: all 500ms ease;
  height: 100%;
}
.btn-16:hover:after {
  transition: all 500ms ease;
  height: 100%;
}

.custom-btn.active {
  background-color:#dddddd;
  

  }

input[type="checkbox"] {
	
	background-color:black;
	width:20px;
	height:20px;

}





/* 標題樣式 */
.title {
    font-size: 24px;
    color: #fffefe;
    margin-bottom: 20px;
}

/* 輸入框樣式 */
input[type="text"] {
    width: 200px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* 按鈕樣式 */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn_search {
    background-color: #61bdd3;
    font-weight:bold;
    color:white;
    
}


.search{
	
	margin-top:50px;
	margin-left:315px;
}



        #pickupOption {
            width: 100px;
            padding: 6.3px;
            font-size: 20px;
            border: 2px solid #ccc;
            border-radius: 5px;
            margin-right: 10px;
            margin-top:6px;
        }
        
        
        input[type="month"] {
		  padding: 8px 8px;
		  font-size: 15px;
		  border: 1px solid #ccc;
		  border-radius: 5px;
		  width: 200px; /* 調整大小以符合你的需求 */
		}