
@import
	url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap")
	;

@import
	url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap")
	;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

div.container_order_item {
	
	width: 1000px;
	display: grid;
	font-family: "Staatliches", cursive;
	background-color: rgb(0 0 0/ 60%);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

	color: black;

	margin-left: 350px;
	margin-top: 20px;

}




.ticket {
	margin: auto;
	display: flex;
	background: white;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px
		15px 12px;
		margin-bottom: 15px;
		margin-top: 20px;
		max-width:915px;
		min-height:288px;
		height:288px;
}

.ticket-food{
	margin: auto;
	display: flex;
	background: white;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px
		15px 12px;
		margin-bottom: 15px;
		margin-top: 20px;
		max-width:915px;
		max-height:260x;
		height:270px;
}

.cancel{
	
		display:none;
	
}

.cancel.-on{
	display: flex;
		height:25px;
		margin-right:20px;
		position:relative;
		top:155px;
		left:10px;
	
}



input[type="checkbox"] {
    width: 25px;
    height: 25px;
}

.left {
	display: flex;
	
}




/*電影照片區*/
.image {
	height: 250px;
	width: 280px;

	background-size: cover;
	background-position: center;
	opacity: 0.85;
	
	
    z-index: 0; /* Lower z-index compared to .admit-one */

 }
 




.left .bookingNo {
	height: 10px;
	width: 20px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;

	margin-left: 235px;
	padding: 0px;
}

.ticket-info {
	padding: 10px 30px;
	
	flex-direction: column;
	text-align: center;
	justify-content: space-between;
	align-items: center;
	margin-right:30px;
	margin-top:5px;
}

.date {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 5px 0;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.date span {
	width: 100px;
}

.date span:first-child {
	text-align: left;
}

.date span:last-child {
	text-align: right;
}

.date .date {
	color: #d83565;
	font-size: 20px;
}

h3 {
	font-size: 28px;
	font-family: "Noto Sans SC", Arial, sans-serif;
	color: #d83565;

}

.movieName>h4 {
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 0.1em;
	color: #4a437e;
}

.left-foodName{
	
	display: flex;
    flex-wrap: wrap;
        margin-bottom: 20px;
}
.left-foodName h6{
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.1em;
	color: #d83565;
	flex: 0 0 50%;
	
}

.time {
	padding: 10px 0;
	color: #4a437e;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-weight: 700;
}

.time span {
	font-weight: 400;
	color: gray;
}

.left .time {
	font-size: 16px;
}

.location {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	padding-top: 18px;
	border-top: 1px solid gray;

}

.location .separator {
	font-size: 20px;
}

.right {
	
	border-left: 1px dashed #404040;
}

.right .admit-one {
	color: darkgray;
	 position: absolute;
	 margin-top:12px;
}

.right .admit-one span:nth-child(2) {
	color: gray;
}

.admit-one {
    position: absolute;
    color: rgb(251, 250, 250);
    height: 250px;
    padding: 2 5px;
    letter-spacing: 0.15em;
    display: flex;
    text-align: center;
    justify-content: space-around;
    writing-mode: vertical-rl;
    direction: initial;
    z-index: 1;
}

.right .right-info-container {
	height: 250px;
	padding: 10px 10px 10px 35px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding-left:65px;
}


.right .right-info-container-food {
	height: 250px;
	padding: 10px 10px 10px 35px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding-left:65px;
}

.right .movieName h1 {
	font-size: 18px;
}

.right .foodName h1 {
		color: #4a437e;
	font-size: 13px;
}

.barcode {
	height: 100px;
}

/*QRCORD位置*/
.barcode img {
	height: 100%;
	margin-top: 0px;
}

.right .ticket-number {
	color: rgb(16, 15, 15);
	margin-top: 2px;
}



button.btn {
	padding: 8px 16px;
	font-size: 16px;
	background-color: #61bdd3;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
	width:200px;
	margin-left:100px;
	margin-bottom:100px;
}

button.btn:hover {
	background-color: #0056b3;
}


@media print {
    body * {
        visibility: hidden;
    }
    .printable-content, .printable-content * {
        visibility: visible;
    }
}
